In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('C:/Users/JH/Desktop/adjtrain.csv')
test = pd.read_csv('C:/Users/JH/Desktop/adjtest.csv')

features_drop = ['Name', 'Ticket', 'Cabin', 'SibSp', 'Parch','Fare']
train = train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)

print(train.head())
print(test.head())

   PassengerId  Survived  Pclass     Sex   Age Embarked Title Family
0            1         0       3    male  22.0        S    Mr      M
1            2         1       1  female  38.0        C   Mrs      M
2            3         1       3  female  26.0        S  Miss      S
3            4         1       1  female  35.0        S   Mrs      M
4            5         0       3    male  35.0        S    Mr      S
   PassengerId  Pclass     Sex   Age Embarked Title Family
0          892       3    male  34.5        Q    Mr      S
1          893       3  female  47.0        S   Mrs      M
2          894       2    male  62.0        Q    Mr      S
3          895       3    male  27.0        S    Mr      S
4          896       3  female  22.0        S   Mrs      M

In [2]:
""" train_test_data = [train, test]

for dataset in train_test_data:
    dataset['Family'] = dataset['Family'].astype(int) """

" train_test_data = [train, test]\n\nfor dataset in train_test_data:\n    dataset['Family'] = dataset['Family'].astype(int) "

In [3]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

train_label = train['Survived']

In [4]:
features_drop = ['Survived',"PassengerId"]
train_data = train.drop(features_drop, axis=1)
test_data = test.drop("PassengerId", axis=1).copy()

print(train_data.shape, train_label.shape, test_data.shape)
train.head()

(891, 15) (891,) (418, 15)

,PassengerId,Survived,Pclass,Age,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Others,Family_B,Family_M,Family_S
0,1,0,3,22.0,0,1,0,0,1,0,0,1,0,0,0,1,0
1,2,1,1,38.0,1,0,1,0,0,0,0,0,1,0,0,1,0
2,3,1,3,26.0,1,0,0,0,1,0,1,0,0,0,0,0,1
3,4,1,1,35.0,1,0,0,0,1,0,0,0,1,0,0,1,0
4,5,0,3,35.0,0,1,0,0,1,0,0,1,0,0,0,0,1

In [5]:
train.head()

,PassengerId,Survived,Pclass,Age,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Others,Family_B,Family_M,Family_S
0,1,0,3,22.0,0,1,0,0,1,0,0,1,0,0,0,1,0
1,2,1,1,38.0,1,0,1,0,0,0,0,0,1,0,0,1,0
2,3,1,3,26.0,1,0,0,0,1,0,1,0,0,0,0,0,1
3,4,1,1,35.0,1,0,0,0,1,0,0,0,1,0,0,1,0
4,5,0,3,35.0,0,1,0,0,1,0,0,1,0,0,0,0,1

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.utils import shuffle

In [7]:
# Suffle
train_data, train_label = shuffle(train_data, train_label, random_state = 5)

In [8]:
# Pipeline
def train_and_test(model):#, train_data, train_label, test_data):
    model.fit(train_data, train_label)
    prediction = model.predict(test_data)
    accuracy = round(model.score(train_data, train_label) * 100, 2)
    print("Accuracy : ", accuracy, "%")
    return prediction

In [9]:
# Logistic Regression
log_pred = train_and_test(LogisticRegression())
# SVM
svm_pred = train_and_test(SVC())
#kNN
knn_pred_4 = train_and_test(KNeighborsClassifier(n_neighbors = 4))
# Random Forest
rf_pred = train_and_test(RandomForestClassifier(n_estimators=100))
# Navie Bayes
nb_pred = train_and_test(GaussianNB())

C:\Users\JH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy :  83.5 %
Accuracy :  75.53 %
Accuracy :  85.75 %
Accuracy :  93.04 %
Accuracy :  82.38 %

In [14]:
# family 를 그룹화했습니다.

# Logistic Regression
log_pred = train_and_test(LogisticRegression())
# SVM
svm_pred = train_and_test(SVC())
#kNN
knn_pred_4 = train_and_test(KNeighborsClassifier(n_neighbors = 2))
# Random Forest
rf_pred = train_and_test(RandomForestClassifier(n_estimators=100))
# Navie Bayes
nb_pred = train_and_test(GaussianNB())

C:\Users\JH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy :  83.5 %
Accuracy :  75.53 %
Accuracy :  87.77 %
Accuracy :  93.04 %
Accuracy :  82.38 %

In [10]:
submission2 = pd.DataFrame({"PassengerId" : test["PassengerId"],
                            "Survived" : rf_pred})

submission2.to_csv('C:/Users/JH/Desktop/submission2.csv', index=False)